# Feature Engineering

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import os

In [14]:
train_csv = os.path.abspath(os.path.join(os.getcwd(), '..', 'data','train.csv'))
train = pd.read_csv(train_csv)
train = train.drop(['Name','Ticket','PassengerId'], axis=1)

## Missing Data

In [35]:
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(4)

          Total  Percent
Survived      0      0.0
Pclass        0      0.0
Sex           0      0.0
Age           0      0.0

In [15]:
train = train.drop(['Cabin'], axis=1)
train

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [29]:
train.Age.fillna(train.groupby(['Sex','Pclass']).transform('median').Age, inplace=True)
train

/var/folders/29/6kwq30y57ss_d9k3j2zkgq2r0000gn/T/ipykernel_4370/122802364.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  train.Age.fillna(train.groupby(['Sex','Pclass']).transform('median').Age, inplace=True)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  21.5      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [34]:
train = train.dropna(axis=0)

## Outliers

## Distribution Transformation

## One-hot encoding

## Scaling